{% extends "layout.html" %} 
{% include "header.html" %} 

{% block title %} Artículos {% endblock %} 
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3">
                    <input type="text" placeholder="Buscar" onkeyup="search(this.value)" size="8"> <button type="button" class="btn btn-primary">Buscar</button> <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal">Nuevo</button> 

                    {% with messages = get_flashed_messages() %}
 
                    {% if messages %}
 
                    {% for message in messages %}
                     
                        {% if  'CANCELADA'  in  message %} <!-- SI ESTA LA PALABRA EXISTE EN EL MENSAJE MUESTO LA CLASE WARNING SI NO SUCCESS-->
                            <div class="alert alert-danger alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                    <span aria-hidden="true">x</span>
                                </button>
                                {{message}}
                            </div>
                        {% else %}
                            <div class="alert alert-success alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                    <span aria-hidden="true">x</span>
                                </button>
                                {{message}}
                            </div>
                        {% endif %}
                        
                    {% endfor %}
 
                    {% endif %}

                    {% endwith %}
                    
                    <table class="table table-hover table-active table-sm">
                        <tr>
                            <th>Artículo</th>
                            <th>Precio</th>
                            <th>Acción</th>
                        </tr>
                       
                        <tbody id="search_art">
                        
                        {% for row in articulos %}
                        
                        <tr>
                            <td> <a href="/update_art/{{row.0}}" data-toggle="modal" data-target="#modaledit{{row.0}}"> {{row.2}} </a> </td> 
                            <td>{{row.5}}</td>
                            <td>
                               <!--  <a href="/update_art/{{row.0}}" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}"> <img src="/static/images/edit.png" alt="Editar" width="24" height="24"> </a>  -->
                               <!-- <a href="/delete_cli/{{row.0}}" class="btn btn-default btn-xs" onclick="return confirm('Borra el Registro ?')"><img src="/static/images/eliminar.png" alt="Borra" width="24" height="24"></a> -->
                                <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#borrar{{row.0}}"><img src="/static/images/eliminar.png" alt="Borra" width="24" height="24"></button>
                            </td>
                        </tr>

                            
                            <div id="borrar{{row.0}}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Borra el Registro ?</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form name="borra" action="/delete_art/{{row.0}}"  method="POST" >
                                                <div class="form-group">
                                                    <button class="btn btn-primary" type="submit">borrar</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>         
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                             <!-- Modal Edit Artículo-->
                            <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
                            
                                <div class="modal-dialog">

                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h4 class="modal-title">Editando Datos</h4>
                                        </div>
                                
                                        <div class="modal-body">
                                            <form name="editcli" action="{{url_for('update_art')}}"  method="POST" >
                                                <div class="form-group">
                                                    <input type="hidden"  name="id_art" value="{{row.0}}">

                                                    <label>Código:</label>
                                                    <input type="number" class="form-control" name="codigo" min="1" value="{{row.1}}">
                                                </div>
                                                <div class="form-group">
                                                    <label>Artículo:</label>                                 
                                                    <input type="text" class="form-control" name="articulo" value="{{row.2}}">
                                                </div>
                                                <div class="form-group">
                                                    <label>Rubro.:</label>
                                                    <select id="id_rubro"  class="form-control" name="id_rubro"> 
                                                        {% for rub in rubros %}
                                                            {% if rub.0 == row.3 %}
                                                              <option value="{{rub.0}}" selected=selected> {{rub.1}}</option>
                                                            {% else %}    
                                                              <option value="{{rub.0}}"> {{rub.1}}</option>
                                                            {% endif %}    
                                                    {% endfor %} 
                                                    </select>
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Costo:</label>
                                                    <input type="number"  step="0.01" min="0" class="form-control" name="costo" value="{{row.4}}">
                                                </div>

                                                <div class="form-group">
                                                    <label>Precio 1:</label>
                                                    <input type="number" step="0.01" min="0"  class="form-control" name="precio1" value="{{row.5}}">
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label>Precio 2:</label>
                                                    <input type="number" step="0.01" min="0" class="form-control" name="precio2"  value="{{row.6}}">
                                                </div>

                                                 <div class="form-group">
                                                 <!--
                                                    <label>I.V.A.:</label>
                                                    <input type="number" step="0.01" min="0"  max="100" class="form-control" name="iva" value="{{row.7}}">
                                                 -->
                                                    <label>Seleccione alícuota de I.V.A.:</label>
                                                    <select name="iva" id="iva" required="1" class="form-control">
                                                       {% for ali in ali_iva %} 
                                                            {% if ali == row.7 %}
                                                                <option value="{{ali.0}}" selected=selected> {{ali}} </option>
                                                            {% else %}
                                                                <option value="{{ali}}">{{ali}}</option>  
                                                            {% endif %}     
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <button class="btn btn-primary" type="submit">Guardar</button>
                                                </div>
                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>                                                      
                                        </div>
                                    </div>                         
                                </div>
                            </div>
                            
                            
                          {% endfor %}
                        </tbody>    

                    </table>

                </div>

                  <!-- Modal Add  -->
                <div id="mymodal" class="modal fade" role="dialog">
                    
                    <div class="modal-dialog">
                        
                        <div class="modal-content">
                            
                            <div class="modal-header">
                                <h4 class="modal-title">Nuevo Artículo</h4>
                            </div>
                           
                            <div class="modal-body">
                                <form action="{{url_for('insert_art')}}" method="POST">
                                 <input type="hidden"  name="parametro" value="0">
                                <div class="form-group">
                                    <label>Código:</label>
                                    <input type="number" class="form-control" name="codigo" min="1" value ="{{ ultimo.0 }}" >
                                </div>
                                <div class="form-group">
                                    <label>Artículo:</label>                                 
                                    <input type="text" class="form-control" name="articulo" >
                                </div>
                                <div class="form-group">
                                    <label>Rubro.:</label>
                                        <select id="id_rubro"  class="form-control" name="id_rubro"> 
                                            {% for rub in rubros %}
                                                <option value="{{rub.0}}"> {{rub.1}}</option>
                                            {% endfor %} 
                                        </select>
                                </div>

                                <div class="form-group">
                                    <label>Costo:</label>
                                    <input type="number" step="0.01" min="0" class="form-control" name="costo" >
                                </div>

                                <div class="form-group">
                                    <label>Precio 1:</label>
                                    <input type="number" step="0.01" min="0" class="form-control" name="precio1" >
                                </div>
                                
                                <div class="form-group">
                                    <label>Precio 2:</label>
                                    <input type="number"  step="0.01" min="0" class="form-control" name="precio2" >
                                </div>

                                    <div class="form-group">
                                        <label>Seleccione alícuota de I.V.A.:</label>
                                        <select name="iva" id="iva" required="1" class="form-control">
                                            {% for ali in ali_iva %} 
                                                    <option value="{{ali}}">{{ali}}</option>    
                                            {% endfor %}
                                        </select>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Añadir Artículo</button>
                                </div>

                                </form>

                            </div>

                         <div class="modal-footer">       
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                         </div>

                    </div>
                </div>
            </div>
         </div>  

    </div>
</div>

<script type="text/javascript">
    function search(v){
        $.post('/articulos',{buscar:v}, function( data ) {
        $('#search_art').html( data );
    });
    }
</script>

{% endblock %} 