<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .princi {
            background-color: withe;
            height: 400px;
            width: 400px;
            position: absolute;
            font-size: 12pt;
            font-family: verdana;
        }
        
        @media print {
            .princi {
                margin-auto;
            }
        }
    </style>
</head>


<body>
    <div class="princi">
        <strong> Pablo Gustavo</strong>
        <br /> A Favor Leandro <br />
        <strong>Factura </strong>A 00001-00000123
    </div>
</body>

</html>