{% extends "layout.html" %} 
{%if session['nivel_ta'] == 'admin' and session['id_cliente'] == 0%}
    {% include "header.html" %}
{%endif%}
{% block body %}
<div class="container">
    <br>
    {%if session['id_cliente'] == 0 %}
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal">Nuevo</button>
        </div>
    </div>
    {%else%}
        <div class="container-fluid"> 
            <div class="row">
                <div class="col-sm-12 d-flex justify-content-center">
                    <h1 class="text-center"; style="color: darkcyan;">MAFELECTRIC </h1>  
                </div>
            </div>
        </div>
    {%endif%} 
    <div class="row">        
        <div class="form-group col-md-6">
            <label for="id_ot" class="control-label">Cliente </label>
            <input type="text" class="form-control" id="cliente"  value="{{cliente.0.0}}" disabled style="font-weight: 500;">
        </div>
        <div class="form-group col-md-6">
            <label for="telefonos" class="control-label">Teléfonos </label>
            <input type="text" class="form-control" id="telefono"value="{{cliente.0.1}}" disabled style="font-weight: 500;">
        </div>  
    </div>      
    <br>
    {% for row in data%}
    <!--select id_ot, fecha, descrip, estado, fecha_entrega, estimado from o_trabajos -->
    <div class="jumbotron p-3" {% if row.3 == 'ENTREGADO' %} style="background-color:rgb(204, 248, 218);" {% elif row.3 == 'DEMORADO' %} style="background-color:rgb(255, 159, 159);" {% elif row.3 == 'FINALIZADO' %} style="background-color:rgb(193, 250, 243);" {% elif row.3 == 'EN REPARACIÓN' %} style="background-color:rgb(250, 255, 182);"{% elif row.3 == 'REVISIONAR' %} style="background-color:rgb(251, 209, 255);"{% elif row.3 == 'PRESUPUESTAR' %} style="background-color:rgb(255, 232, 182);"{% endif %} >
        <div class="row">       
            <div class="form-group col-md-2">
                <label for="id_ot" class="control-label">Ord. de Trabajo </label>
                <input type="text" class="form-control" name="id_ot" value="{{row.0}}" disabled>
            </div> 
            <div class="form-group col-md-3">
                <label for="id_ot" class="control-label">Fecha Ingreso </label>
                <input type="text" class="form-control"  value="{% if row.1 %} {{row.1.strftime('%d-%m-%Y %H:%M')}}  {% endif %}" disabled>
            </div> 
            <div class="form-group col-md-3">
                <label for="id_ot" class="control-label">Fecha Entrega </label>
                <input type="text" class="form-control"  value="{% if row.4 != None %} {{row.4}} {% else %}  {% endif %}" disabled>
            </div> 
            <div class="form-group col-md-3"> 
                <label for="id_ot" class="control-label"> <strong>Estado</strong>  </label>
                <input type="text" class="form-control" style="font-weight: 700;" value="{{row.3}}" disabled>
            </div>
            <div class="form-group col-md-2">
                <label for="id_ot" class="control-label">Importe </label>
                <input type="number" step="0.01" class="form-control" name="id_ot" value="{{row.6}}" disabled>
            </div> 
            {% if row.3 != 'ENTREGADO' and session['id_cliente'] == 0 %}
            <div class="col-md-1">
                <br>
                <button  type="button" class="editBtn btn btn-primary float-right" onclick="editar( {{row.0}} )">Editar</button>        
            </div>
            {% endif %}
        </div> 
        
        <div class="row">
            <div class="col-md-12">
                <textarea class="form-control rounded-1" id="otros" name="otros" rows="7" cols="60" placeholder="Ingrese descripción del problema" disabled>{{row.2}}</textarea>
            </div>
           
        </div> 
    </div> 
    {% endfor %} 
</div>    

<!-- Modal Add  -->
<div id="mymodal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nueva Orden de Trabajo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="cliente" class="control-label">Cliente </label>
                        <input type="text" class="form-control" id="a_cliente"  value="{{cliente.0.0}}" disabled style="font-weight: 500;">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="telefonos" class="control-label">Teléfonos </label>
                        <input type="text" class="form-control" id="a_telefono" value="{{cliente.0.1}}" disabled style="font-weight: 500;">
                    </div>  
                </div>
               
                <div class="row">       
                    <div class="form-group col-md-4">
                        <label for="fecha_i" class="control-label">Fecha Ingreso </label>
                        <input type="datetime-local" class="form-control" id="fecha_i"  >
                    </div> 
                    <div class="form-group col-md-3">
                        <label for="fecha_e" class="control-label">Fecha Entrega </label>
                        <input type="datetime-local" class="form-control" id="fecha_e" disabled  >
                    </div> 
                    <div class="form-group col-md-3"> 
                        <label for="estado" class="control-label">Estado </label>
                        <input type="text" class="form-control" id="estado" value="REVISIONAR" disabled>
                    </div> 
                    <div class="form-group col-md-2"> 
                        <label for="estimado" class="control-label">Estimado Hs. </label>
                        <input type="number" class="form-control" id="estimado"  min = "0" value="0" disabled>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="id_ot" class="control-label">Importe </label>
                        <input type="number" class="form-control" id="importe" min="0" value="0" disabled>
                    </div>  
                    <div class="remito form-group col-md-2">
                        <label for="remito" class="control-label">Remito  Nº </label>
                        <input type="number" class="form-control" id="remito" min="0" >
                    </div>  
                    <div class="form-group "> 
                        <input type="text" class="form-control" id="id_clie" name="id_clie" value="{{cliente.0.3}}" hidden>
                    </div> 
                    <div class="form-group "> 
                        <input type="text" class="form-control" id="id_ot"  value="0" hidden>
                    </div> 
                </div> 
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="form-control rounded-1" id="descrip" name="descrip" rows="5" cols="60" placeholder="Ingrese descripción del problema"></textarea>
                    </div>
                </div> 
               
            </div>
            <div class="modal-footer">
                <button class="guardar btn btn-primary" type="submit">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
            </div>
            
        </div>
    </div>
</div>


<!-- Modal Edit Modal Edit  Modal Edit Modal Edit Modal Edit Modal Edit Modal Edit Modal Edit Modal Edit Modal Edit  -->
<div id="modalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="cliente" class="control-label">Cliente </label>
                        <input type="text" class="form-control" id="e_cliente"  value="{{cliente.0.0}}" disabled style="font-weight: 500;">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="telefonos" class="control-label">Teléfonos </label>
                        <input type="text" class="form-control" id="e_telefono"  value="{{cliente.0.1}}" disabled style="font-weight: 500;">
                    </div>  
                </div>
               
                <div class="row">       
                    <div class="form-group col-md-4">
                        <label for="fecha_i" class="control-label">Fecha Ingreso </label>
                        <input type="datetime-local" class="form-control" id="e_fecha_i" >
                    </div> 
                    <div class="form-group col-md-4">
                        <label for="fecha_e" class="control-label">Fecha Entrega </label>
                        <input type="text" class="form-control" id="e_fecha_e" disabled>
                    </div> 
                    <div class="form-group col-md-4"> 
                        <label for="estado" class="control-label">Estado </label>
                        <!-- <input type="text" class="form-control" id="e_estado"  > -->
                        <select id="e_estado" class="form-control">
                            {% if estados and session['nivel_ta'] == 'admin' %} 
                               <option value="" selected disabled>Seleccione:</option>
                                {% for estado in estados %}
                                    <option value="{{estado.1}}">{{estado.1}}</option>
                                {% endfor %}
                            {% else %}
                                <option value="" selected disabled>Seleccione:</option>
                                {% if data %}
                                    {% if data.0.3 == 'PRESUPUESTAR' %}  
                                        <option value="PRESUPUESTAR" selected>PRESUPUESTAR</option> 
                                        <option value="CANCELADO">CANCELADO</option> 
                                        <option value="EN REPARACIÓN">EN REPARACIÓN</option> 
                                    {% endif %} 
                                    {% if data.0.3 == 'REVISIONAR' %}  
                                        <option value="REVISIONAR" selected>REVISIONAR</option> 
                                    {% endif %}  
                                    {% if data.0.3 == 'EN REPARACIÓN' %}  
                                        <option value="EN REPARACIÓN">EN REPARACIÓN</option> 
                                        <option value="DEMORADO">DEMORADO</option> 
                                        <option value="FINALIZADO" selected>FINALIZADO</option>  
                                    {% endif %} 
                                    {% if data.0.3 == 'FINALIZADO' %}  
                                        <option value="FINALIZADO" selected>FINALIZADO</option>
                                        <option value="ENTREGADO">ENTREGADO</option> 
                                    {% endif %}   
                                {% endif %}  

                            {% endif %}    
                        </select>
                    </div> 
                </div>    
                <div class="row">
                <div class="form-group col-md-2"> 
                        <label for="estimado" class="control-label">Estimado Hs. </label>
                        <input type="number" class="form-control" id="e_estimado" min = "0" {%if session['nivel_ta'] != 'admin'%} disabled {% endif %} >
                    </div>
                    <div class="form-group col-md-2">
                        <label for="importe" class="control-label">Importe </label>
                        <input type="number" class="form-control" id="e_importe" min="0" {%if session['nivel_ta'] != 'admin'%} disabled {% endif %}>
                    </div>  
                    <div class="remito form-group col-md-2">
                        <label for="remito" class="control-label">Remito  Nº </label>
                        <input type="number" class="form-control" id="e_remito" min="0" >
                    </div>  
                    <div class="form-group "> 
                        <input type="text" class="form-control" id="e_id_clie"  hidden>
                    </div> 
                    <div class="form-group "> 
                        <input type="text" class="form-control" id="e_id_ot"  hidden>
                    </div> 
                </div> 
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="form-control rounded-1" id="e_descrip"  rows="5" cols="60" ></textarea>
                    </div>
                </div> 
               
            </div>
            <div class="modal-footer">
                <button class="guardar btn btn-primary" type="submit">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
            </div>
            
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script type="text/javascript">
    
    if($('#e_estado').val()=="ENTREGADO"){
        $('.remito').show()
    } else{
        $('.remito').hide()
    }

    $('#e_estado').change( function(){
        if( $('#e_estado').val() == 'ENTREGADO'){
            $('.remito').show()
        } else{
            $('.remito').hide()
        }
        
    })

    function search(v) {
        $.post('/clientes', {
            buscar: v
        }, function(data) {
            $('#search_cli').html(data);
        });
    }

//////////////////////////////////////////////////////////////////////////////////////////////////////////

$('#mymodal .guardar').on('click', function() {
    
    if($('#fecha_i').val()==='') {
        swal("Ingrese la fecha de ingreso !", "", "warning");
        return
    }
    
    //if($('#estimado').val()==='0') {
    //    swal("Ingrese el Tiempo Estimado de Reparación !", "", "warning");
    //    return
    //}

    if($('#descrip').val()==='') {
        swal("Ingrese descripción del problema !", "", "warning");
        return
    }
   
    let datos = {
        id_clie: $('#id_clie').val(),
        fecha_i: $('#fecha_i').val(),
        estimado: $('#estimado').val(),
        estado: $('#estado').val(),
        descrip: $('#descrip').val(),
        id_ot: $('#id_ot').val(),
        importe: $('#importe').val(),
        remito: $('#remito').val()
      
    }
    
    $.ajax({
        url: "../abm_otrab",
        type: "POST",
        data: datos,
        success: function(data) {
            console.log('Data: '+data)
            if (data.type == 'ok') {
                location.reload()
            }
        },
        error: function() {
            alert('ERROR, VERIFIQUE... ')
        }
    });
})

////////////////////////////////////// editar ////////////////////////////////////////////////
function editar(id_ot) {
    let datos = { 'id_ot': id_ot }
    $.ajax({
        url: "../edit_otrab",
        type: "POST",
        data: datos,
        success: function(data) {
            console.log(data)
            if (data.type == 'ok') {
                //location.reload()
                let datos = data.data[0];
                console.log(setFechas(datos[2]))
                titulo =  'Editando Orden de Trabajo ' +' Nº: '+ datos[0] 
                $(".modal-title").text(titulo);
                $("#e_id_ot").val(datos[0])
                $("#e_fecha_i").val(setFechas(datos[2]))
                $("#e_fecha_e").val(setFechas(datos[5]))
                $("#e_estado").val(datos[4])
                $("#e_estimado").val(datos[6])
                $("#e_descrip").val(datos[3])
                $("#e_id_clie").val(datos[1])
                $("#e_importe").val(datos[7]).toString
                $("#e_remito").val()
                $('#modalEdit').modal("show")
            }
        },
        error: function() {
            alert('ERROR, VERIFIQUE... ')
        }
    });
}

///////////////////////////////////////////////////////////////////////////////////////////////
$('#modalEdit .guardar').on('click', function() {
    
    if($('#e_fecha_i').val()==='') {
        swal("Ingrese la fecha de ingreso !", "", "warning");
        return
    }
    //if($('#e_estimado').val()==='0') {
    //    swal("Ingrese el Tiempo Estimado de Reparación !", "", "warning");
    //    return
    //}

    if($('#e_descrip').val()==='') {
        swal("Ingrese descripción del problema !", "", "warning");
        return
    }

    let datos = {
        id_clie: $('#e_id_clie').val(),
        fecha_i: $('#e_fecha_i').val(),
        fecha_e: $('#e_fecha_e').val(),
        estimado: $('#e_estimado').val(),
        estado: $('#e_estado').val(),
        descrip: $('#e_descrip').val(),
        id_ot: $('#e_id_ot').val(),
        importe: $('#e_importe').val(),
        remito: $('#e_remito').val()
    }
   
    $.ajax({
        url: "../abm_otrab",
        type: "POST",
        data: datos,
        success: function(data) {
            console.log('Data: '+data)
            if (data.type == 'ok') {
                location.reload()
            }
        },
        error: function() {
            alert('ERROR, VERIFIQUE... ')
        }
    });
})

//////////////////////////////////////////////////////////////////////////////////////////////////

function setFechas(fecha) {
        let date = new Date(fecha).getTime()+10800000;
        date = new Date(date)
        let dia = date.getDate();
        if (dia < 10) dia = "0" + dia;
        let mes = date.getMonth() + 1;
        if (mes < 10) mes = "0" + mes;
        let hora = date.toString().substring(16,21) 
        let año = date.getFullYear();
        let fechaout = año.toString() + "-" + mes +"-" + dia+"T" +hora;
        console.log(fechaout)
        return fechaout
    }

</script>
{% endblock %}