{% for row in articulos %}

    <tr>
        <td> <button style="color:rgb(0, 140, 255)" type="button" class="btn btn-default btn-xs" onclick="editar( {{row.0}} )">{{row.2}}</button>  </td>
        <td>{{row.7}}</td>
        <td>
            <button  type="button" class="btn btn-default btn-xs" onclick="borrar( {{row.0}} )"><img src="/static/images/eliminar.png" alt="Borra" width="24" height="24"></button> 
        </td>
        <!-- <td>
            <button  type="button" class="btn btn-default btn-xs" onclick="editar( {{row.0}} )"><img src="/static/images/edit.png" alt="Editar" width="24" height="24"></button> 
            <!-- <a href="/update_art/{{row.0}}" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}"> <img src="/static/images/edit.png" alt="Editar" width="24" height="24"> </a>  
        </td> -->
    </tr>
{% endfor %}

<div id="borrar" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Borra el Registro ?</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" id="id_art">
                    <button class="btn btn-primary" onclick="borrar2()" type="submit">borrar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Edit Artículo-->
<div id="modalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editando Datos</h4>
            </div>

            <div class="modal-body">
                <!-- <form name="editcli" action="{{url_for('update_art')}}" method="POST"> -->
                    <div class="form-group">
                        <input type="hidden" id="e_id_art" name="e_id_art" >

                        <label>Código:</label>
                        <input type="number" class="form-control" id= "e_codigo" name="e_codigo" min="1" >
                    </div>
                    <div class="form-group">
                        <label>Cód. de Barras:</label>
                        <input type="text" class="form-control" id="e_barras" name="e_barras" >
                    </div>
                    <div class="form-group">
                        <label>Artículo:</label>
                        <input type="text" class="form-control" id="e_articulos" name="e_articulo" >
                    </div>

                    <div class="form-group">
                        <label>Rubro.:</label>
                        <select id="e_id_rubro" class="form-control" name="e_id_rubro"> 
                            {% for rub in rubros %}
                                {% if rub.0 == articulos.3 %}
                                    <option value="{{rub.0}}" selected=selected> {{rub.1}}</option>
                                {% else %}    
                                    <option value="{{rub.0}}"> {{rub.1}}</option>
                                {% endif %}    
                            {% endfor %} 
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Marca.:</label>
                        <select id="e_id_marca" class="form-control" name="e_id_marca"> 
                            {% for marca in marcas %}
                                {% if marca.0 == articulos.12 %}
                                    <option value="{{marca.0}}" selected=selected> {{marca.1}}</option>
                                {% else %}    
                                    <option value="{{marca.0}}"> {{marca.1}}</option>
                                {% endif %}    
                            {% endfor %} 
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Proveedor.:</label>
                        <select id="e_id_prov" class="form-control" name="e_id_prov"> 
                            {% for prov in proveedores %}
                                {% if prov.0 == articulos.13 %}
                                    <option value="{{prov.0}}" selected=selected> {{prov.1}}</option>
                                {% else %}    
                                    <option value="{{prov.0}}"> {{prov.1}}</option>
                                {% endif %}    
                            {% endfor %} 
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Costo:</label>
                        <input type="number" step="0.1" min="0" class="form-control" id="e_costo" name="e_costo" >
                    </div>

                    <div class="form-group">
                        <label>Margen 1:</label>
                        <input type="number" step="0.1" min="0" class="form-control" id="e_margen1" name="e_margen1">
                    </div>

                    <div class="form-group">
                        <label>Precio 1:</label>
                        <input type="number" step="0.1" min="0" class="form-control" id="e_precio1" name="e_precio1">
                    </div>

                    <div class="form-group">
                        <label>Margen 2:</label>
                        <input type="number" step="0.1" min="0" class="form-control" id="e_margen2" name="e_margen2">
                    </div>

                    <div class="form-group">
                        <label>Precio 2:</label>
                        <input type="number" step="0.1" min="0" class="form-control" id="e_precio2"name="e_precio2" >
                    </div>

                    <div class="form-group">
                        <label>Stock:</label>
                        <input type="number" step="0.1" min="0" class="form-control" id="e_stock"name="e_stock" {% if  session['nivel_ta'] != 'admin'  %} disabled {% endif %} >
                    </div>

                    <div class="form-group">
                        <label>Stock Min.:</label>
                        <input type="number" step="0.1" min="0" class="form-control" id="e_st_min"name="e_st_min" {% if  session['nivel_ta'] != 'admin'  %} disabled {% endif %}>
                    </div>
                    
                    <div class="form-group">
                        <!--
                            <label>I.V.A.:</label> -->
                        <label>Seleccione alícuota de I.V.A.:</label>
                        <select name="e_iva" id="e_iva" required="1" class="form-control"> 
                            {% for ali in ali_iva %} 
                                {% if ali ==  articulos.7 %}
                                    <option value="{{ali}}" selected=selected> {{ali}} </option>
                                {% else %}
                                    <option value="{{ali}}">{{ali}}</option>  
                                {% endif %}     
                            {% endfor %}
                            </select>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary guardar" type="submit">Guardar</button>
                        <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Salir</button>
                    </div>
                <!-- </form> -->

            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
            </div> -->
        </div>
    </div>
</div>



{% block script %}


<script type="text/javascript">
///////////////////////////////////////////

function precio1_a(x){
    if(x.value > 0){
        let costo = $('#costo').val()
        let margen1 = x.value
        let precio1 = costo * ( 1 + margen1 /100 )
        $("#precio1").val(precio1.toFixed())  
    }
}

function precio2_a(x){
    if(x.value > 0){
        let costo = $('#costo').val()
        let margen2 = x.value
        let precio2 = costo * ( 1 + margen2 /100 )
        $("#precio2").val(precio2.toFixed())  
    }
}

function precio1(x){
    if(x.value > 0){
        let costo = $('#e_costo').val()
        let margen1 = x.value
        let precio1 = costo * ( 1 + margen1 /100 )
        $("#e_precio1").val(precio1.toFixed())  
    }
}

function precio2(x){
    if(x.value > 0){
        let costo = $('#e_costo').val()
        let margen2 = x.value
        let precio2 = costo * ( 1 + margen2 /100 )
        $("#e_precio2").val(precio2.toFixed())  
    }
}

function anular(e) {
    tecla = (document.all) ? e.keyCode : e.which;
    return (tecla != 13);
}

    
$('#estados').change(function() { 
    let estado = $( "#estados" ).val();
    location.href = "../ver_trabajos?estado="+estado;
});


function borrar(id_art) {
    let datos = { 'id_art': id_art}
        $("#id_art").val(id_art)
        $('#borrar').modal("show")
    }
   

function borrar2() {
    let datos = { 'id_art': $("#id_art").val()}
    $.ajax({
        url: "../delete_art_ajax",
        type: "POST",
        data: datos,
       
        success: function(data) {
            console.log(data)
            if (data.type == 'ok') {
                //$('#borrar').modal("hide")
                location.reload()
            }
        },
        error: function() {
            alert('ERROR,  CAGASTE FUEGO')
        }
    });
}

$('.guardar_alta').on('click', function() {
    if($('#id_rubro').val()==null){
        swal("Ingrese el Rubro","","warning")
        return
    }

    if( $('#id_prov').val() == null ){
        swal("Ingrese el Proveedor","","warning");
        return
    }

    if( $('#precio1').val() == 0 ){
        swal("Ingrese el Precio1","","warning");
        return
    }

    if( $('#iva').val() == 0 ){
        swal("Ingrese Alícuta de I.V.A.","","warning");
        return
    }

    let datos = {
        id_art: $('#id_art').val(),
        codigo: $('#codigo').val(),
        articulo: $('#articulo').val(),
        id_rubro: $('#id_rubro').val(),
        id_prov: $('#id_prov').val(),
        costo: $('#costo').val(),
        margen1: $('#margen1').val(),
        precio1: $('#precio1').val(),
        margen2: $('#margen2').val(),
        precio2: $('#precio2').val(),
        stock: $('#stock').val(),
        st_min: $('#st_min').val(),
        iva: $('#iva').val(),
        fe_ult: $('#fe_ult').val()
    }
    console.log(datos)
    $.ajax({
        url: "../mod_arti_ajax/0",
        type: "POST",
        data: datos,
        success: function(data) {
            console.log('Data: '+data)
            if (data.type == 'ok') {
                /* swal({
                        title: "Confirma el Alta ?",
                        text: "",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                        })
                        .then((willDelete) => {
                        if (willDelete) {
                            swal("Registro Agregado con Exito !", {
                            icon: "success",
                            });
                            location.reload()
                        } else {
                            swal("Alta Cancelada!");
                        }
                        }); */
                
               
                location.reload()
            }
        },
        error: function() {
            swal("Error al Grabar !","","error")
        }
    });
})



/////////// EDITAR 

$('.guardar').on('click', function() {
    if($('#e_id_rubro').val()==null){
        swal("Ingrese el Rubro","","warning")
        return
    }
    
    if( $('#e_id_prov').val() == null ){
        swal("Ingrese el Proveedor","","warning");
        return
    }

    if( $('#e_precio1').val() == 0 ){
        swal("Ingrese el Precio1","","warning");
        return
    }

    if( $('#e_iva').val() == 0 ){
        swal("Ingrese Alícuta de I.V.A.","","warning");
        return
    }

    /// cambio la fecha de dd/mm/yyyy   a   yyyy/mm/dd
    let date = $('#e_fe_ult').val()
    let fe_ult =  date.split("/").reverse().join("/");
    /////////////////////////////////////////////////////

    let datos = {
        id_art: $('#e_id_art').val(),
        codigo: $('#e_codigo').val(),
        articulo: $('#e_articulos').val(),
        id_rubro: $('#e_id_rubro').val(),
        id_prov: $('#e_id_prov').val(),
        costo: $('#e_costo').val(),
        margen1: $('#e_margen1').val(),
        precio1: $('#e_precio1').val(),
        margen2: $('#e_margen2').val(),
        precio2: $('#e_precio2').val(),
        stock: $('#e_stock').val(),
        st_min: $('#e_st_min').val(),
        iva: $('#e_iva').val(),
        fe_ult: fe_ult

    }
    console.log(datos)
    $.ajax({
        url: "../mod_arti_ajax/1",
        type: "POST",
        data: datos,
        
        success: function(data) {
            console.log('Data: '+data)
            if (data.type == 'ok') {
                location.reload()
            }
        },
        error: function() {
            swal("Error al Grabar !","","error")
        }
    });
})


function editar(id_art) {
    let datos = { 'id_art': id_art}
    $.ajax({
        url: "../edit_arti_ajax",
        type: "POST",
        data: datos,
       
        success: function(data) {
            console.log(data)
            console.log("fecha :"+data.articulos[0][13])

            if (data.type == 'ok') {
                 
                let articulos = data.articulos[0];
                           
                /// cambio la fecha de dd/mm/yyyy   a   yyyy/mm/dd
                let date = articulos[12]
                let fe_ult =  date.split("/").reverse().join("-");
                console.log(typeof(fe_ult))
                /////////////////////////////////////////////////////
                console.log(fe_ult)
               
                let rubros = data.rubros;
                let ali_iva = data.ali_iva;
                titulo =  'Editando Articulo ' +' Nº: '+ articulos[0]
                $(".modal-title").text(titulo);
                $("#e_id_art").val(articulos[0]);
                $("#e_codigo").val(articulos[1]);
                $("#e_articulos").val(articulos[2]);
                $("#e_id_rubro").val(articulos[3]);
                $("#e_costo").val(articulos[5]);
                $("#e_precio1").val(articulos[7]);
                $("#e_precio2").val(articulos[9]);
                $("#e_iva").val(articulos[12]);
                $("#e_stock").val(articulos[10]);
                $("#e_st_min").val(articulos[11]);
                $("#e_id_prov").val(articulos[4]);
                $("#e_margen1").val(articulos[6]);
                $("#e_margen2").val(articulos[8]);
                $("#e_fe_ult").attr('value',fe_ult)
                $('#modalEdit').modal("show")
            }
        },
        error: function() {
            swal("Error al Grabar !","","error")
        }
    });
}

</script>
{% endblock %}    