{% extends "layout.html" %} {% include "header.html" %} {% block title %} Clientes {% endblock %} {% block body %}
<div class="container">
    <div class="row">
            <div class="jumbotron p-3">
                <div class="col md-12">
                    <div class="row">
                        <div class="col md-6"> 
                            <div class="form_grup">
                                <label for="fecha">ingrese Fecha:</label>
                                 <input type="date" id="fecha" class="form-control" onchange="ver()">   
                            </div>
                        </div>
                        
                    </div>
                    <br>
                </div>  
            </div>     
                {% for row in proveedores %}
                <div class="jumbotron p-3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-grup">
                                <label  for="prov">Proveedor:</label>
                                <input style="background-color:white"  id="prov" type="text" class="form-control text-success"value = "{{row.0}}" disabled>     
                            </div>
                        </div>    
                        <div class="col-md-2">
                            <div class="form-grup">
                                <label  for="fecha">Fecha:</label>
                                <input style="color:blue; background-color:white" id="fecha" type="text" class="form-control text-danger" value = "{{row.1}}" disabled>     
                            </div>
                        </div>      
                        <div class="col-md-2">
                            <div class="form-grup">
                                <label  for="comp">Comprobante:</label>
                                <input style="color:blue; background-color:white" id="Comp" type="text" class="form-control text-danger" value = "{{row.2}}" disabled>     
                            </div>
                        </div>   
                        <div class="col-md-3">
                            <div class="form-grup">
                                <label  for="imp">Importe:</label>
                                <input style="color:blue; background-color:white" id="imp" type="text" class="form-control text-danger" value = "{{row.3}}" disabled>     
                            </div>
                        </div>     
                        <div class="col-md-1">
                            <div class="form-grup">
                                <button  style="margin-top: 35px;" type="button" class="btn btn-default btn-xs" onclick="borrar({{row.2}} , '{{row.1}}', '{{row.0}}', '{{row.4}}')"><img src="/static/images/eliminar.png" alt="Borra" width="24" height="24"></button> 
                                
                            </div>
                        </div>                           
                    </div>

                    <br>
                   
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-grup">
                                <label for="barras">Cód. de Barras:</label>           
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-grup">
                                <label for="art">Artículo:</label>          
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-grup">
                                <label for="fe_ant">Fecha Ant:</label>       
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-grup">
                                <label for="c_ant">Costo Ant:</label>       
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-grup">
                                <label for="costo">Costo:</label>       
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-grup">
                                <label for="cantidad">Cant.:</label>       
                            </div>
                        </div>
                        
                    </div>
                
                    {% for art in data %}
                        {% if art.3 == row.0%}
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-grup">
                                        <input class="form-control text-primary" id="barras" type="text" value = "{{art.4}}" disabled>     
                                    </div>
                                </div>    
                                <div class="col-md-3">
                                    <div class="form-grup">                            
                                        <input class="form-control text-primary" id="art" type="text" value = "{{art.5}}" disabled>     
                                    </div>
                                </div>  
                                <div class="col-md-2">
                                    <div class="form-grup">
                                        <input class="form-control text-primary" id="fe_ant" type="text" value = "{{art.9}}" disabled>     
                                    </div>
                                </div>               
                                <div class="col-md-2">
                                    <div class="form-grup">
                                        <input class="form-control text-primary" id="c_ant" type="text" value = "{{art.6}}" disabled>     
                                    </div>
                                </div> 
                                <div class="col-md-2">
                                    <div class="form-grup">
                                        <input class="form-control text-primary" id="costo" type="text" value = "{{art.8}}" disabled>     
                                    </div>
                                </div>  
                                <div class="col-md-1">
                                    <div class="form-grup">
                                        <input class="form-control text-primary" id="cantidad" type="text" value = "{{art.10}}" disabled>     
                                    </div>
                                </div>        
                                            
                            </div> 
                       
                        {%endif%} 
                          
                    {% endfor %}  
                            <br>
                </div>        
                {% endfor %}   
            </div>
        </div>
    </div>
</div>



<div id="borrar" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Borra el Registro ?</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="fechab">Fecha Comprobamte.</label>
                    <input class="form-control" type="text" id="fechab" disabled>
                </div>    
                <div class="form-group">
                    <label for="nro_comp">Nro. de Comprobamte.</label>
                    <input class="form-control" type="text" id="nro_comp" disabled>
                </div>
                <div class="form-group">
                    <label for="provb">Proveedor.</label>
                    <input class="form-control" type="text" id="provb" disabled>
                    <input type="text" id="id_provb" hidden>
                </div>
                <br>
                <button class="btn btn-danger" onclick="borrar2()" type="submit">borrar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block script %}
<script type="text/javascript">

function ver(){
    let fecha = $('#fecha').val()
    location.href = "/ver_comp_prov/"+fecha
}


function borrar(nro_comp , fecha, provb, id_provb) {
    console.log(provb)
    let dd = fecha.substr(0,2)
    let mm = fecha.substr(3,2)
    let yyyy = fecha.substr(6,4)
    console.log(yyyy+'-'+mm+'-'+dd)
    let fechab = dd+'-'+mm+'-'+yyyy
    let datos = { 
                  'nro_comp': nro_comp,
                  'fechab': fechab,
                  'provb': provb,
                  'id_provb': id_provb 
                }

        $("#nro_comp").val(nro_comp)
        $("#fechab").val(fechab)
        $("#provb").val(provb)
        $("#id_provb").val(id_provb)
        $('#borrar').modal("show")
    }
   

function borrar2() {
    let datos = { 
                    'nro_comp': $("#nro_comp").val(),
                    'fecha': $("#fechab").val(),
                    'prov': $('#provb').val(),
                    'id_prov': $('#id_provb').val()
                }
    $.ajax({
        url: "../del_com_prov_ajax",
        type: "POST",
        data: datos,
       
        success: function(data) {
            if(data.type == "ok"){
                let fecha = $('#fechab').val()
                let dd = fecha.substr(0,2)
                let mm = fecha.substr(3,2)
                let yyyy = fecha.substr(6,4)
                console.log(yyyy+'-'+mm+'-'+dd)
                let fechab = yyyy+'-'+mm+'-'+dd

                location.href = "/ver_comp_prov/"+fechab
    
            }
            
        },
        error: function() {
            alert('ERROR,  VERIFIQUE')
        }
    });
}

function fecha(fecha){
    let dd = fecha.substr(0,2)
    let mm = fecha.substr(3,2)
    let yyyy = fecha.substr(6,4)
    return dd+'-'+mm+'-'+yyyy
} 

function listar(){
    let datos = {
        'fecha' : $('#fecha').val()
    }
    console.log(datos)
    $.ajax({
        url: "../ver_comp_prov",
        type: "POST",
        data: datos,

        success: function(data) {
            console.log(data)
            //location.href = "/ver_comp_prov"
            location.reload()
         
        },
        error: function() {
            alert('ERROR,  CAGASTE FUEGO')
        }
    })
}
</script>
{% endblock %}