{% extends "layout.html" %} {% include "header.html" %} {% block title %} Descarga {% endblock %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-3">
            <a href="/static/{{fileName}}" target="_blank"><img src="/static/images/descarga.jfif" alt="Descargar Pdf" width="62" height="62"></a>
        </div>
        <div class="col-3">
            <a href="/envio_mail/{{fileName}}/{{email}}"><img src="/static/images/email.png" alt="Enviar x Email" width="56" height="56"></a>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>
{% endblock %}