{% extends "layout.html" %} 
{% block body %}


<div class="container">
    <h1 style="padding-top: 20px;">TRABAJOS</h1>
    <div class="row">
        <div class="form-group col-md-3"> 
            <label for="estado" class="control-label">Filtrar Estado </label>
            <select id="estados" class="form-control">
                {% if estados %} 
                <option value="" selected disabled>Seleccione:</option>
                    {% for estado in estados %}
                        <option value="{{estado.1}}" {% if esta and estado.1 == esta %}selected{% endif %}>{{estado.1}}</option>
                    {% endfor %}
                {% endif %}    
            </select>
        </div>
    </div>
    {% if data %}
        {% for row in data%}
        <!--select id_ot, fecha, descrip, estado, fecha_entrega, estimado from o_trabajos -->
        <div class="jumbotron p-3"  {% if row.3 == 'ENTREGADO' %} style="background-color:rgb(204, 248, 218);" {% elif row.3 == 'DEMORADO' %} style="background-color:rgb(255, 159, 159);" {% elif row.3 == 'FINALIZADO' %} style="background-color:rgb(193, 250, 243);" {% elif row.3 == 'EN REPARACIÓN' %} style="background-color:rgb(231, 246, 194);"{% endif %} >
            {% if nivel_ta == 'admin' %}
            <div class="row" >
                <div class="form-group col-md-6">
                    <label for="cliente" class="control-label">Cliente </label>
                    <input type="text" class="form-control"  value="{{row.6}}" disabled style="font-weight: 500;">
                </div>
                <div class="form-group col-md-6">
                    <label for="telefonos" class="control-label">Teléfonos </label>
                    <input type="text" class="form-control" value="{{row.7}}" disabled style="font-weight: 500;">
                </div>  
            </div>
            {% endif %}
            <div class="row">       
                <div class="form-group col-md-2">
                    <label for="id_ot" class="control-label">Ord. de Trabajo </label>
                    <input type="text" class="form-control" name="id_ot" value="{{row.0}}" disabled>
                </div> 
                <div class="form-group col-md-3">
                    <label for="id_ot" class="control-label">Fecha Ingreso </label>
                    <input type="text" class="form-control"  value="{% if row.1 %} {{row.1.strftime('%d-%m-%Y %H:%M')}}  {% endif %}" disabled>
                </div> 
                <div class="form-group col-md-3"> 
                    <label for="id_ot" class="control-label">Estado </label>
                    <input type="text" class="form-control"  value="{{row.3}}" disabled>
                </div> 
                {% if row.3 != 'ENTREGADO' %}
                <div class="col-md-3">
                    <br>
                    <a href="/ver_fichas_trabajos/{{ row.0 }}" class="editBtn btn btn-primary float-right">Visualizar</a>        
                </div>
                {% endif %}
            </div> 
            
            <div class="row">
                <div class="col-md-12">
                    <textarea class="form-control rounded-1" id="otros" name="otros" rows="5" cols="60" placeholder="Ingrese descripción del problema" disabled>{{row.2}}</textarea>
                </div>
            
            </div> 
        </div> 
        {% endfor %} 
    {%else%}
        <br>
        <br>
        <br>
        <div class="row">     
            <div class="col-md-12">
                <div class="alert alert-danger" style="text-align: center;" role="alert">
                    NO HAY DATOS QUE MOSTRAR...
                </div>
            </div>
        </div>    
    {% endif %}     
            

</div>

{% endblock %} 


{% block script %}
<script type="text/javascript">
$('#estados').change(function() { 
    let estado = $( "#estados" ).val();
    location.href = "../ver_trabajos?estado="+estado;
});
</script>
{% endblock %}    
