<div id="accordion" class="col md-12">

  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
    <button type="button"  class="btn btn-primary">Tarjetas</button>
	<button type="button"  class="btn btn-secondary">{{tarjeta}}</button>
      </a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        <table class="table">
			<thead> 
			<tr>
				<th  scope="col">Fecha</th>
				<th  scope="col">Comprobante</th>
				<th  scope="col">Detalle</th>
				<th  scope="col" style="text-align:right">Total</th>				
			</tr>
			</thead>
			<tbody>
			  {%for r in rs%} 			  
			  {% if r.2=='TARJETA' %}
			  <tr>					
					<td>{{r.3.strftime('%d/%m/%Y') }}</td>
					<td>{{r.4}}</td>
					<td>{{r.1}}</td>
					<td style="text-align:right">{{r.5}}</th>					
				</tr>				
				{%endif%}
			  {%endfor%}
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>								
				<td  style="text-align:right"><strong>{{ tarjeta }}</strong></td>
			</tr>
			</tbody>
		</table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        <button type="button"  class="btn btn-primary">Efectivo</button>
		<button type="button"  class="btn btn-secondary">{{efec}}</button>
      </a>
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <table class="table">
			<thead>
			<tr>
				<th  scope="col">Fecha</th>
				<th  scope="col">Comprobante</th>
				<th  scope="col">Detalle</th>
				<th  scope="col" style="text-align:right">Total</th>				
			</tr>
			</thead>
			<tbody>
			 {%for r in rs%} 			
			 {% if r.2=='EFECTIVO' %}
			  <tr>
						<td>{{r.3.strftime('%d/%m/%Y') }}</td>
					<td>{{r.4}}</td>
					<td>{{r.1}}</td>
					<td style="text-align:right">{{r.5}}</th>					
				</tr>					
				{%endif%}
			  {%endfor%}
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>								
				<td  style="text-align:right"><strong>{{ efec}}</strong></td>
			</tr>
			</tbody>
		</table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
          <button type="button"  class="btn btn-primary">Cuenta Corriente</button>
		  <button type="button"  class="btn btn-secondary">{{ctacte}}</button>
      </a>
    </div>
    <div id="collapseThree" class="collapse" data-parent="#accordion">
      <div class="card-body">
         <table class="table">
			<thead>
			<tr>
				<th  scope="col">Fecha</th>
				<th  scope="col">Comprobante</th>
				<th  scope="col">Detalle</th>
				<th  scope="col" style="text-align:right">Total</th>				
			</tr>
			</thead>
			<tbody>
			 {%for r in rs%} 			 
			 {% if r.2=='CTA-CTE.' %}
			  <tr>
						<td>{{r.3.strftime('%d/%m/%Y') }}</td>
					<td>{{r.4}}</td>
					<td>{{r.1}}</td>
					<td style="text-align:right">{{r.5}}</th>					
				</tr>			
				{%endif%}
			  {%endfor%}
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>								
				<td  style="text-align:right"><strong>{{ ctacte }}</strong></td>
			</tr>
			</tbody>
		</table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
        <button type="button"  class="btn btn-primary">Transferencias</button>
		  <button type="button"  class="btn btn-secondary">{{trans}}</button>
      </a>
    </div>
    <div id="collapseFour" class="collapse" data-parent="#accordion">
      <div class="card-body">
         <table class="table">
			<thead>
			<tr>
				<th  scope="col">Fecha</th>
				<th  scope="col">Comprobante</th>
				<th  scope="col">Detalle</th>
				<th  scope="col" style="text-align:right">Total</th>				
			</tr>
			</thead>
			<tbody>
			 {%for r in rs%} 			 
			 {% if r.2=='TRANSFERENCIA' %}
			  <tr>
						<td>{{r.3.strftime('%d/%m/%Y') }}</td>
					<td>{{r.4}}</td>
					<td>{{r.1}}</td>
					<td style="text-align:right">{{r.5}}</th>					
				</tr>				
				{%endif%}
			  {%endfor%}
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>								
				<td  style="text-align:right"><strong>{{trans }}</strong></td>
			</tr>
			</tbody>
		</table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
        <button type="button"  class="btn btn-primary">Cheques</button>
		  <button type="button"  class="btn btn-secondary">{{cheque}}</button>
      </a>
    </div>
    <div id="collapseFive" class="collapse" data-parent="#accordion">
      <div class="card-body">
         <table class="table">
			<thead>
			<tr>
				<th  scope="col">Fecha</th>
				<th  scope="col">Comprobante</th>
				<th  scope="col">Detalle</th>
				<th  scope="col" style="text-align:right">Total</th>				
			</tr>
			</thead>
			<tbody>
			 {%for r in rs%} 			 
			 {% if r.2=='CHEQUE' %}
			  <tr>
						<td>{{r.3.strftime('%d/%m/%Y') }}</td>
					<td>{{r.4}}</td>
					<td>{{r.1}}</td>
					<td style="text-align:right">{{r.5}}</th>					
				</tr>					
				{%endif%}
			  {%endfor%} 
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>								
				<td  style="text-align:right"><strong>{{cheque}}</strong></td>
			</tr>
			</tbody>
		</table>
      </div>
    </div>
  </div>
</div>