{% extends "layout.html" %} 
{%if session['nivel_ta'] == 'admin' %}
    {% include "header.html" %}
{%endif%}
{% block title %} Planilla de Caja {% endblock %} {% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="form-group col md-3">
            <label>fecha:</label>
            <input type="date" class="form-control" name="fe1" id="fe1">
        </div>        
        <div class="form-group col md-3">
            <label>Usuario:</label>
            <select id="usuarios" class="form-control" name="usuarios"> 
                {% for usuario in usuarios%}
                    <option value="{{usuario.0}}" selected=selected> {{usuario.0}}</option>
                {% endfor %} 
               </select>
        </div>
        <div class="form-group col-md-3"> 
            
            <button  type="button" class="ver_works btn btn-primary float-left" style="margin-top: 32px;" >Consultar</button>
            <!-- <a href="ver_trabajos" class="btn btn-success" style="float: right; margin-top: 32px;">Inicio</a> -->
        </div> 
        <div class="form-group col-md-4">
        </div>         
    </div>
    
    <div class="row">
        <div class="col md-12">
            <table class="table table-hover table-active table-sm" id="gri_work">
                <tr>
                    <th>Ord. de Trab.</th>
                    <th>Descripción</th>
                    <th>Hs.Trabajadas</th>
                </tr>
                <tbody id="trabajos">
                   
                </tbody> 
            </table>       
        </div>    
    </div>    

{% endblock %}


{% block script %}

<script type="text/javascript">

$('.ver_works').on('click', function() {
    
    let datos = {
        fecha: $('#fe1').val(),
        usuario: $('#usuarios').val(),
    }

    $.ajax({
        url: "../ver_works_usu/",
        type: "POST",
        data: datos,
        success: function(data) {
            if (data.type == 'ok') {
            //iterar los datos 
             let html  ="";      
             let horas = 0;         
             for (var row in data.data) {
              
                    html +="<tr><td>"+data.data[row][0]+"</td> <td>"+data.data[row][1]+"</td><td align='right'>"+ data.data[row][2] +"</td></tr>"
                    horas += data.data[row][2] 
                };
              html += "<tr><td></td><td align='right' bgcolor=#B0C4DE> </td><td bgcolor=#B0C4DE align=right style=color:#191970;><strong> Total Horas trabajadas:   </strong>"+horas +"</td></tr>"
              $("#trabajos").html(html)
             
            }

        },
        error: function() {
            alert('ERROR,  CAGASTE FUEGO')
        }
    });
})

</script>
{% endblock %}